<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Blog{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}"/>

        <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
                <link rel="script" href="{{ asset('bundles/app/js/app.js') }}"/>
        {% block javascripts %}{% endblock %}
    </head>
    <header>
        {% block header %}
        <h1>Мій блог</h1>
        {% endblock %}
            <div class="nav">
                <nav>
                    <ul>
                        <li>{{ knp_menu_render('AppBundle:Builder:mainMenu') }}</li>
                    </ul>
                </nav>
            </div>
            <div class="h2">
                {% block h2 %}
                {% endblock %}
            </div>
    </header>
    <div class="menu">
        {% block menu %}
            TAG CLOUD
            <hr>
            5 самих популярних статей
            <hr>
            5 останніх коментарів
        {% endblock %}
    </div>
    <section>
        {% block section %}{% endblock %}
    </section>
    <footer>
        {% block footer %}
            Copyright © Dmitry Zrayev
        {% endblock %}
    </footer>
</html>

