    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}"/>
    {% endblock %}
    {% block javascripts %}
        <link rel="script" href="{{ asset('bundles/app/js/app.js') }}"/>
    {% endblock %}
    {% block section %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h3>Please Log In, or <a href="{{ path('fos_user_registration_register') }}">Sign Up</a></h3>
                    <div class="account-wall">
                        <form action="{{ path('fos_user_security_check') }}" method="POST" class="form-signin">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <input type="text" id="inputUsernameEmail" name="_username"  placeholder="Email" value="{{ last_username }}" required="required" class="form-control" />
                            <input type="password" class="form-control" id="inputPassword" name="_password" placeholder="Password" required="required" />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in</button>
                        <label class="checkbox pull-left">
                            <input type="checkbox">
                            Remember me
                        </label>
                        <a href="{{ path('index') }}" class="pull-right need-help">go to blog </a><span class="clearfix"></span>
                        </form>
                    </div>
                    <a href="{{ path('fos_user_registration_register') }}" class="text-center new-account">Create an account </a>
                </div>
            </div>
        </div>
    {% endblock %}