{% extends 'AppBundle::base.html.twig' %}

{% block h2 %}
    <h2>Post {{ post.title }}</h2>
{% endblock %}

{% block section %}
    <p>{{ post.body|raw }}</p>
    <p>Автор: {{ post.author.name }}</p>
    <p>Категорія: {{ post.category }}</p>
    <p>Теги: {{ post.tags|join(', ') }}</p>
    {#{{ include('@App/comment/index.html.twig', {comment.body: 'comment.body'}) }}#}
    {#<li><a href="{{ path('comment_create') }}">Коментувати</a></li>#}
{% endblock %}
