{% extends 'AppBundle::base.html.twig' %}
{% block section %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.body|raw }}</p>
    <p>Автор: {{ post.author.name }}</p>
    <p>Категорія: {{ post.category }}</p>
    <p>Теги: {{ post.tags|join(', ') }}</p>
    <p>Створено: {{ post.created|date("m-d-Y H:i:s a") }}</p>
    <p>Останнє редагування: {{ post.updated|date("m-d-Y H:i:s a") }}</p>


    <!-- Comments Form -->
    <div class="well">
        <div class="form-group">
            {{ form(form) }}
        </div>
    </div>

    {#<!-- Comment -->#}
    {% for comment in post.comments %}
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Author
                    <small>{{ post.created|date("M d, Y  h:i A") }}</small>
                </h4>
                {{ post.body }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
